<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="">Rina's Craft</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarLinks"
    aria-controls="navbarLinks"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="navbarLinks">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="dropdownProductButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownProductButton">
            <a class="dropdown-item" routerLink="products">All Products</a>
            <a class="dropdown-item" routerLink="#">Another action</a>
            <a class="dropdown-item" routerLink="#">Something else here</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">About Us</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="cart">
        <i class="bi bi-cart"></i> Cart
        <span class="badge bg-primary">0</span>
      </a>
    </ul>
  </div>
</nav>
