<nav class="navbar navbar-expand-lg sticky-md-top fixed-top">
  <a class="navbar-brand" routerLink="">Rina's Craft</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarLinks"
    aria-controls="navbarLinks"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="navbarLinks">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button
            class="nav-link dropdown-toggle"
            type="button"
            id="productsDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Products
          </button>
          <ul class="dropdown-menu" aria-labelledby="productsDropdown">
            <li>
              <a class="dropdown-item" routerLink="products">All Products</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button
            class="nav-link dropdown-toggle"
            type="button"
            id="patternDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Crochet Patterns
          </button>
          <ul class="dropdown-menu" aria-labelledby="patternDropdown">
            <li>
              <a class="dropdown-item" routerLink="crochetPatterns"
                >All Patterns</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="cart">
        <i class="bi bi-cart"></i> Cart
        <span class="badge bg-primary">{{qtyInCart}}</span>
      </a>
    </ul>
  </div>
</nav>
