<div class="container">
  <h2>About Us</h2>

  <p>Hi fellow crochet enthusiast!</p>
  <p>
    Rina's Crafts was found by Carina, a crochet enthusiast and a fellow budding
    software engineer.
  </p>
  <br />
  <p>
    The main aim of her creating Rina's Crafts is to share with fellow
    enthusiast :
  </p>
  <ul>
    <li>More affordable yarn options.</li>
    <li>Share crochet patterns.</li>
    <li>To create an app for her software engineer portfolio.</li>
  </ul>

  <p>Lastly, thank you for taking the time to shop at Rina's Craft.</p>
  <p>Hope you have a fun time with us!</p>
  <p class="text text-warning">
    <em
      >P.S. This is a dummy shopping site. I do not sell any items here. But the
      crochet patterns are real. You may try them out.</em
    >
  </p>
</div>
