@if (itemsInCart.length == 0){
<div class="text-center">Cart is Empty</div>
} @else {
<div class="container">
  <table class="table">
    <thead>
      <th>Brand</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th></th>
    </thead>
    <tbody>
      @for (item of itemsInCart; track item.description) {
      <tr>
        <td>{{item.brand}}</td>
        <td>{{item.description}}</td>
        <td>
          <button class="btn btn-danger" (click)="minusItem(item)">-</button>
          <input [(ngModel)]="item.quantity" value="{{item.quantity}}" />
          <button class="btn btn-success" (click)="addItem(item)">+</button>
        </td>
        <td>{{item.quantity * item.price | currency: "SGD"}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}

<div class="container">
  <div class="row">
    <div class="col-md-6 text-md-end text-center">
      <button class="btn btn-primary" type="button" routerLink="/products">
        Continue Shopping
      </button>
    </div>
    <div class="col-md-6 text-md-start text-center">
      <button
        class="btn btn-danger"
        (click)="checkOut()"
        routerLink="/cart"
        [disabled]="itemsInCart.length == 0"
      >
        Checkout
      </button>
    </div>
  </div>
</div>
