@if (itemsInCart.length == 0){
<div class="text-center">Cart is Empty</div>
} @else {
<div class="container">
  <div class="row">
    <div class="col-4 fw-bold">Item</div>
    <div class="row col-6">
      <div class="col-md-6 fw-bold"></div>
      <div class="col-md-6 fw-bold">Quantity</div>
    </div>

    <div class="col-1 fw-bold">Total</div>
  </div>
  @for (item of itemsInCart; track item.description) {
  <div class="row">
    <div class="col-md-2 col-4"><img [src]="item.img" /></div>
    <div class="row col-md-8 col-6">
      <div class="col-md-6">
        <p>{{item.brand}}: {{item.description}}</p>
      </div>
      <div class="col-md-6">
        <button class="btn btn-danger" (click)="minusItem(item)">-</button>
        <input
          [(ngModel)]="item.quantity"
          value="{{item.quantity}}"
          (ngModelChange)="onInputChange(item, $event)"
        />
        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" [title]="item.quantity >= item.stock ? 'Selected quantity is equal or greater than available stock.':'' ">
          <button
          class="btn btn-success"
          (click)="addItem(item)"
          [disabled]="item.quantity >= item.stock">
          +
          </button>
        </span>
        
        <button
          class="btn btn-secondary"
          (click)="deleteItem(item)"
          id="deleteBtn"
        >
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>

    <div class="col-1">{{item.quantity * item.price | currency: "SGD"}}</div>
  </div>
  }
</div>
}

<div class="container">
  <div class="row">
    <div class="col-md-6 text-md-end text-center">
      <button class="btn btn-primary" type="button" routerLink="/products">
        Continue Shopping
      </button>
    </div>
    <div class="col-md-6 text-md-start text-center">
      <button
        class="btn btn-danger"
        (click)="checkOut()"
        routerLink="/cart"
        [disabled]="itemsInCart.length == 0"
      >
        Checkout
      </button>
    </div>
  </div>
</div>
